#grid{
	width:500px;
	height:500px;
	padding:10px;
}

#content{
	position:absolute;
}

.rows{
	outline: 1px solid;
	float:left;
	padding:1px; 
	background-color: #FFFFFF;

}


html{
	background-color: lightgrey;
}

.button{
	align-items:relative;
}

